@model Asm1670.Models.Book;

<div class="container col-md-8 text-center mt-3">
     <tr>
            <th colspan="2" class="text text-warning">
                <h3>Book Detail</h3>
            </th>
     </tr>
    <table class="table table-bordered mt-4">
        
        <thead>
       
        <tr>
                <th>
                   Book Id
                </th>
                 <th>
                    Book Title
                </th>
                 <th>
                    Book Price
                </th>
                <th>
                    Customer Id
                </th>
                 <th>
                    Cart Id
                </th>
                
        </tr>   
        </thead>
    
     <tbody>
     
        <tr>
                <th>
                @Model.Id
                </th>
                 <th>
                    @Model.Title
                </th>
                 <th>
                    @Model.Price
                </th>
                
        </tr>  
        </tbody>
    </table>
     
   
</div>