@model ICollection<Asm1670.Models.Book>

<div class="container col-md-8 text-center mt-3">
    <h1 class="text text-primary">Book List</h1>
    
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>
                    Book Id
                </th>
                 <th>
                    Book Title
                </th>
                 <th>
                    Book Price
                </th>
                <th>
                    Amount Book
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
           {
               <tr>
                   <td>
                       @Html.DisplayFor(item => book.Id)
                   </td>
                    <td>
                       @Html.DisplayFor(item => book.Title)
                   </td>
                   <td>
                       @Html.DisplayFor(item => book.Price)
                   </td>

                    <td>
                        <input class="form-control"  />
                    </td>   
                   
               </tr>
           }
        </tbody>
        
    </table>
    
         <a asp-controller="Book" asp-action="AddCart" onclick="return confirm('Are you sure want to buy ?')">
                                <h6>Add to Cart</h6>
                           </a>
</div>