@model Asm1670.Models.Request

<div class="container col-md-6 text-center mt-3">
    <form class="card p-3 bg-light" asp-controller="Request" asp-action="Create" method="post">
        <h3 class="text text-primary">Make Request</h3>
        <div class="form-group">
            <label asp-for="RequestName" class="text text-success"></label>
            <input asp-for="RequestName" class="form-control"/>
            <span asp-validation-for="RequestName" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </form>
</div>